.u-section-1 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-1 .u-list-1 {
  width: 1306px;
  margin: 7px auto 0 277px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 75px);
  grid-template-columns: repeat(4, calc(25% - 75px));
  min-height: 588px;
  margin-left: 0;
  margin-right: auto;
  width: 1248px;
  grid-gap: 100px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-1 {
  height: 257px;
  width: 307px;
  margin: 0 -42px 0 13px;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 254px;
  width: 307px;
  margin: 0 -83px 0 13px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 25px 18px 0 29px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 37px 18px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-2 {
  height: 257px;
  width: 307px;
  margin: 0 -42px 0 13px;
}

.u-section-1 .u-group-2 {
  height: auto;
  min-height: 254px;
  width: 307px;
  margin: 0 -83px 0 13px;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 25px 18px 0 29px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 37px 18px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-3 {
  height: 257px;
  width: 307px;
  margin: 0 -42px 0 13px;
}

.u-section-1 .u-group-3 {
  height: auto;
  min-height: 254px;
  width: 307px;
  margin: 0 -83px 0 13px;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 25px 18px 0 29px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 37px 18px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-4 {
  height: 257px;
  width: 307px;
  margin: 0 -42px 0 13px;
}

.u-section-1 .u-group-4 {
  height: auto;
  min-height: 254px;
  width: 307px;
  margin: 0 -83px 0 13px;
}

.u-section-1 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 25px 18px 0 29px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 37px 18px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1309px;
  margin: 25px auto 60px 295px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 351px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-1 .u-group-5 {
  height: auto;
  min-height: 206px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 25px 1067px 0 29px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 7px auto 0 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-1 .u-list-1 {
    width: 1199px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 605px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1199px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 50px);
    grid-template-columns: repeat(2, calc(50% - 50px));
    min-height: 2886px;
  }

  .u-section-1 .u-image-1 {
    height: 250px;
  }

  .u-section-1 .u-image-2 {
    height: 250px;
  }

  .u-section-1 .u-image-3 {
    height: 250px;
  }

  .u-section-1 .u-image-4 {
    height: 250px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 382px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-2 {
    height: 382px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-3 {
    height: 382px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-4 {
    height: 382px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 235px;
  }

  .u-section-1 .u-image-2 {
    height: 235px;
  }

  .u-section-1 .u-image-3 {
    height: 235px;
  }

  .u-section-1 .u-image-4 {
    height: 235px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 257px;
  }
}